<manifest ...>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
 <application
        ...>
        <!-- Your activities and configuration -->
      
android:icon="@mipmap/ic_launcher""
- mipmap-mdpi: ۴۸x۴۸ پیکسل
- mipmap-hdpi: 72x72 پیکسل
- mipmap-xhdpi: 96x96 پیکسل
- mipmap-xxhdpi: 144x144 پیکسل
- mipmap-xxxhdpi: 192x192 پیکسل" ...>
    </application>
</manifest>
